{% use 'form_div_layout.html.twig' %}

{% block widget_container_attributes %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' grid md:grid-cols-6 gap-6')|trim }) %}
    {{ block('attributes') }}
{% endblock %}

{% block button_row %}
    <div{% with {attr: row_attr|merge({class: 'md:col-span-6 ' ~ row_attr.class|default('')})} %}{{ block('attributes') }}{% endwith %}>
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block form_row %}
    <div class="md:col-span-6">
        {{ form_label(form) }}
        <div class="mt-2">
            {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block form_label %}
    <label class="block text-sm/6 font-medium text-white">{{ label|default(name)|trans }}</label>
{% endblock %}

{% block form_widget_simple %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' block w-full rounded-md bg-gray-800 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-gray-700 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6')}) %}
    <input type="{{ type|default('text') }}" {{ block('widget_attributes') }} value="{{ value }}"/>
{% endblock %}

{% block submit_widget %}
    <button type="submit" {% with {attr: attr|merge({class: 'button button-success ' ~ attr.class|default('')})} %}{{ block('button_attributes') }}{% endwith %}>
        {{ label|default(name)|trans }}
    </button>
{% endblock %}

{% block money_widget %}
    {% set attr = attr|merge({class: 'border-l border-l-gray-700 rounded-l-none !outline-0'}) %}
    <div class="flex items-center bg-gray-800 justify-center rounded-l-md outline-1 outline-gray-700 focus-within:outline-2 focus-within:outline-indigo-600">
        <div class="text-white px-3">
            {{ money_pattern|form_encode_currency }}
        </div>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block choice_widget %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        <select {{ block('widget_attributes') }} class="block w-full rounded-md bg-gray-800 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-gray-700 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            {% if placeholder is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>
                    {{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}
                </option>
            {% endif %}

            {% for label, choice in choices %}
                <option value="{{ choice.value }}" {% if value is same as choice.value %}selected="selected"{% endif %}>{{ choice.label|trans }}</option>
            {% endfor %}
        </select>
    {% endif %}
{% endblock %}
