{% form_theme form 'form/_theme.html.twig' %}

{% extends 'dashboard/_layout.html.twig' %}

{% block main %}
    <div class="py-8 text-gray-800">
        {% include 'partials/_breadcrumbs.html.twig' %}
        <div class="md:justify-between md:items-center md:flex mt-2">
            <div class="flex-1 min-w-0">
                <h2 class="tracking-tight text-2xl sm:text-3xl sm:overflow-ellipsis text-white font-bold">
                    {{ 'dashboard.my_bills'|trans }}
                </h2>
            </div>
{#            <div class="md:ml-4 mt-4 md:mt-0 shrink-0 flex">#}
{#                <a href="{{ path('dashboard.bills.add') }}" class="button button-success">#}
{#                    {{ 'dashboard.add_bill'|trans }}#}
{#                </a>#}
{#            </div>#}
        </div>
    </div>

    <twig:Card>
        <twig:CardHeader title="{{ 'dashboard.bill.add.title'|trans }}">
            {% block action %}
                <a href="{{ path('dashboard') }}" class="button button-danger">
                    {{ 'dashboard.bill.add.cancel'|trans }}
                </a>
            {% endblock %}
        </twig:CardHeader>
        <twig:CardBody>
            {{ form(form) }}
        </twig:CardBody>
    </twig:Card>
{% endblock %}