{% extends 'dashboard/_layout.html.twig' %}

{% block title %}{{ 'dashboard.transaction.delete.breadcrumb'|trans }}{% endblock %}

{% block main %}
    <twig:Header title="{{ 'dashboard.transaction.delete.title'|trans({'%name%': bill.name}) }}">
        <a href="{{ path('dashboard') }}" class="button button-danger">
            {{ 'dashboard.transaction.delete.cancel'|trans }}
        </a>
    </twig:Header>

    <twig:Card>
        <twig:CardBody>
            {{ form(form) }}
        </twig:CardBody>
    </twig:Card>
{% endblock %}