{% set classes = {block: 'bg-blue-50', title: 'text-blue-800', message: 'text-blue-700'} %}
{% if type is same as constant('App\\Enum\\AlertType::Success') %}
    {% set classes = {
        block: 'bg-green-50',
        title: 'text-green-800',
        message: 'text-green-700',
    } %}
{% endif %}

<div{{ attributes }} class="p-4 {{ classes.block }} rounded-md">
    <div class="flex">
        <div class="shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="text-green-400 size-5"><path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd"></path></svg>
        </div>
        <div class="ml-3">
            <h3 class="{{ classes.title }} font-medium text-sm">
                {{ title|trans }}
            </h3>
            {% if message is not empty %}
                <div class="{{ classes.message }} text-sm mt-2">
                    <p>
                        {{ message|trans }}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
